/* #################### GLOBAL #################### */

@import "/theme.css";

body {
    background: var(--bg);
    font-family: sans-serif;
    color: var(--fg);
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5; 
}

@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  src: url(Emoji.woff2) format('woff2');
  unicode-range: U+2693, U+26e9-26ea, U+26f1-26f2, U+26f4-26f5, U+26fa, U+26fd, U+2708, U+fe0f, U+1f301, U+1f303, U+1f306-1f307, U+1f309, U+1f310, U+1f3a0-1f3a2, U+1f3aa, U+1f3cd-1f3ce, U+1f3d5, U+1f3d7-1f3db, U+1f3df-1f3e6, U+1f3e8-1f3ed, U+1f3ef-1f3f0, U+1f488, U+1f492, U+1f4ba, U+1f54b-1f54d, U+1f5fa-1f5ff, U+1f680-1f6a2, U+1f6a4-1f6a8, U+1f6b2, U+1f6d1, U+1f6d5-1f6d6, U+1f6dd-1f6df, U+1f6e2-1f6e5, U+1f6e9, U+1f6eb-1f6ec, U+1f6f3-1f6f6, U+1f6f8, U+1f6fa-1f6fb, U+1f9bc-1f9bd, U+1f9ed, U+1f9f3, U+1fa7c;
}

.emoji {
    display: inline;
    font-family: "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    top: 50%;
    width: 200px;
    transform: translate(0, -50%);
    padding: 20px;
}

@media (max-width: 800pt) {
    .sidebar {
        display: none;
    }
}

li {
    text-align: left;
}

.sidebar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

p, ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

li {
    padding-bottom: 8px;
}

table, th, td {
    border: 1px solid var(--hl-dim);
    border-collapse: collapse;
    padding: 8px;
}

hr {
    color: var(--hl-dim);
}

th, td {
    text-align: center;
}

header {
    padding-top: 5pt;
    display: flex;
}

spaced {
    display: inline;
    margin-right: 10pt;
}

summary {
    cursor: pointer;
    color: var(--hl);
}
summary:hover {
    text-decoration: underline;
}

a {
    color: var(--hl);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--hl-dim);
}

.centred-link {
    padding: 20px;
    text-align: center;
}

.inline-icon {
    vertical-align: middle;
}

.title {
    text-align: center;
}

circle {
    fill: var(--fg);
}

/* #################### CLIPS #################### */

#plug {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

input {
    background-color: var(--fg);
}
button, input[type=submit] {
    background-color: var(--fg);
}

#search-and-clips {
    background-color: var(--bg-l);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

#clips {
    text-align: center;
}

#post {
    background-color: var(--bg-l);
    border-radius: 10px;
    width: 400px;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.post-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    
    label {
        text-align: start;
        flex-grow: 1;
    }
    
    input {
        width: 340px;
    }
}

#post-form {
    text-align: center;
}
    
#err {
    color: var(--red);
    text-align: center;
    padding-bottom: 5px;
}

#search {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#pages {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.clip {
    padding-top: 15px;
    line-height: 1.2;
    position: relative;
}
.clip-title {
    font-size: 20px;
    text-align: center;
}

.clip-reported-indicator {
    position: absolute;
    display: inline-block;
    line-height: 0;
    right: 40px;
    border-radius: 10px;
}

.clip-menu-button {
    display: none;
    position: absolute;
    line-height: 0;
    border-radius: 10px;
    right: 10px;
}
.clip-menu-button-reported {
    display: inline-block;
    line-height: 1.5;
}
.clip-menu-button:hover {
    background: var(--bg);
    cursor: pointer;
}
.clip:hover .clip-menu-button {
    display: inline-block;
}
.clip-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    font-size: 12px;
    background-color: black;
    color: var(--fg);
    line-height: 0;
}

.clip-menu-button:hover .clip-menu {
    display: block;
}
.clip-menu-item {
    display: block;
    padding: 10px 2px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}
.clip-menu-item:hover {
    background-color: var(--bg);
}

.clip-embed {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 400px;
    max-height: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.tag {
    padding-right: 5px;
    line-height: 1;
    font-size: 12px;
}

/* only display autocomplete when input is focused */
#search-autocomplete:hover, #post-autocomplete:hover {
    display: block;
}
#search-tags:focus + #search-autocomplete {
    display: block;
}
#post-tags:focus + #post-autocomplete {
    display: block;
}
#search-tags {
    width: 340px;
}
#search-autocomplete, #post-autocomplete {
    display: none;
    z-index: 10;
    background-color: black;
    position: absolute;
    min-width: 100px;
    font-size: 12px;
}
#post-autocomplete {
    transform: translate(50px, 24px);
} 

.autocomplete-item:hover {
    background-color: var(--bg);
}
.autocomplete-item {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: black;
    color: var(--fg);
    border: none;
    display: block;
    width: 100%;
}
.autocomplete-tag {
    display: inline;
    float: left;
    padding-right: 2px;
}
.autocomplete-count {
    display: inline;
    float: right;
    padding-left: 2px;
}
