@import "/theme.css";

body {
    background: var(--bg);
    font-family: sans-serif;
    color: var(--fg);
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    top: 50%;
    width: 200px;
    transform: translate(0, -50%);
    padding: 20px;
}

@media (max-width: 800pt) {
    .sidebar {
        display: none;
    }
}

.sidebar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

p, ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

li {
    padding-bottom: 8px;
}

table, th, td {
    border: 1px solid var(--hl-dim);
    border-collapse: collapse;
    padding: 8px;
}

hr {
    color: var(--hl-dim);
}

th, td {
    text-align: center;
}

header {
    padding-top: 5pt;
    display: flex;
}

spaced {
    display: inline;
    margin-right: 10pt;
}

.title {
    text-align: center;
}

.centred-link {
    padding: 20px;
    text-align: center;
}

.inline-icon {
    vertical-align: middle;
}

.clip {
    padding-bottom: 10px;
    line-height: 1.2;
}
.tag {
    display: inline;
    padding-right: 5px;
    line-height: 1;
    font-size: 12px;
}

a {
    color: var(--hl);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--hl-dim);
}
