/* #################### GLOBAL #################### */

@import "/theme.css";

body {
    background: var(--bg);
    font-family: sans-serif;
    color: var(--fg);
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5; 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    top: 50%;
    width: 200px;
    transform: translate(0, -50%);
    padding: 20px;
}

@media (max-width: 800pt) {
    .sidebar {
        display: none;
    }
}

.sidebar a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

video {
    width: 100%;
    display: block;
}

p, ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

li {
    padding-bottom: 8px;
}

table, th, td {
    border: 1px solid var(--hl-dim);
    border-collapse: collapse;
    padding: 8px;
}

hr {
    color: var(--hl-dim);
}

th, td {
    text-align: center;
}

header {
    padding-top: 5pt;
    display: flex;
}

spaced {
    display: inline;
    margin-right: 10pt;
}

a {
    color: var(--hl);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--hl-dim);
}

.centred-link {
    padding: 20px;
    text-align: center;
}

.inline-icon {
    vertical-align: middle;
}

.title {
    text-align: center;
}

/* #################### CLIPS #################### */

#plug {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

input {
    background-color: var(--fg);
}
button, input[type=submit] {
    background-color: var(--fg);
}

#search-and-clips {
    background-color: var(--bg-l);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

#clips {
    text-align: center;
}

#post {
    background-color: var(--bg-l);
    border-radius: 10px;
    width: 400px;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.post-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2px;
    
    label {
        text-align: start;
        flex-grow: 1;
    }
    
    input {
        width: 340px;
    }
}

#post-form {
    text-align: center;
}
    
#err {
    color: var(--red);
    text-align: center;
    padding-bottom: 5px;
}

#search {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#pages {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.clip {
    padding-top: 15px;
    line-height: 1.2;
}
.clip-title {
    font-size: 20px;
    text-align: center;
}
.clip-embed {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 400px;
    max-height: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.tag {
    padding-right: 5px;
    line-height: 1;
    font-size: 12px;
}

/* only display autocomplete when input is focused */
#search-autocomplete:hover, #post-autocomplete:hover {
    display: block;
}
#search-tags:focus + #search-autocomplete {
    display: block;
}
#post-tags:focus + #post-autocomplete {
    display: block;
}
#search-tags {
    width: 340px;
}
#search-autocomplete, #post-autocomplete {
    display: none;
    z-index: 10;
    background-color: black;
    position: absolute;
    min-width: 100px;
    font-size: 12px;
}
#post-autocomplete {
    transform: translate(50px, 24px);
} 

.autocomplete-item:hover {
    background-color: var(--bg);
}
.autocomplete-item {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: black;
    color: var(--fg);
    border: none;
    display: block;
    width: 100%;
}
.autocomplete-tag {
    display: inline;
    float: left;
}
.autocomplete-count {
    display: inline;
    float: right;
}
