:root {
    --fg: #d5d8d6;
    --mid-d: #42464d;
    --mid-l: #969896;
    --bg: #282a2e;
    --bg-l: #383a3e;
    --hl: #b0b0e0;
    --hl-dim: #a0a0c0;
    --red: #cc6666;
    --p1: #81a2be;
    --p2: #cc6666;
}
