@import "/theme.css";

body {
    background: var(--bg);
    font-family: sans-serif;
    color: var(--fg);
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5; 
}

p {
  margin-bottom: 1.5em;
}

li {
    padding-bottom: 8px;
}

table, th, td {
    border: 1px solid var(--hl-dim);
    border-collapse: collapse;
    padding: 8px;
}

hr {
    color: var(--hl-dim);
}

th, td {
    text-align: center;
}

header {
    padding-top: 5pt;
    display: flex;
}

spaced {
    display: inline;
    margin-right: 10pt;
}

.title {
    text-align: center;
}

a {
    color: var(--hl);
}

a:visited {
    color: var(--hl-dim);
}
