[Unit]
Description=melee.cool webserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
RuntimeMaxSec=7d
User=root
WorkingDirectory=/root/melee.cool/
ExecStart=/root/melee.cool/build/server
