<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Clip Dump</title>
    <script src="/htmx.js"></script>
</head>
<body>

<script src=/header.js></script>

<h1 class=title>🚧 The Clip Dump 🚧</h1>

<a id=plug href="https://patreon.com/rwing_aitch">
    Please consider helping with server costs on my Patreon.
</a>

<div id="post">
    <h2 class=title>Submit a Clip</h2>

    <div id="err"></div>
    
    <form id="post-form" hx-post="/post-clip" hx-swap="none">
        <div class=post-row>
            <label for="post-title">Title:</label>
            <input
                type="text"
                id="post-title"
                name="title"
                autocomplete="off"
                placeholder="Mang0 Zain Grand Finals Summit 11"
            /><br>
        </div>
        
        <div class=post-row>
            <label for="post-link">Link:</label>
            <input 
                type="text"
                id="post-link"
                name="link"
                autocomplete="off"
                placeholder="https://youtu.be/P4gNB3Cfai4"
            /><br>
        </div>
        
        <div class=post-row>
            <label for="post-tags">Tags:</label>
            <input
                type="text"
                id="post-tags"
                name="tags"
                autocomplete="off"
                placeholder="ssbm mang0 zain summit_11 game_10"
                hx-post="/tag-autocomplete"
                hx-vals="js:{ 'tag-prefix': get_current_tag(event.target) }"
                hx-trigger="input throttle:100ms"
                hx-target="#post-autocomplete"
                hx-swap="innerHTML"
            />
            <div id="post-autocomplete"></div><br>
        </div>
        
        <details id=guidelines>
            <summary style="padding: 10px 0 10px 0;">Submission Guidelines</summary>
            <ul>
                <li><b>Do not submit clips that have already been submitted.</b></li>
                <li><b>Clips must be notable.</b> Do not submit a 2 hit combo you hit on unranked.</li>
                <li><b>Add all relevant tags.</b> If a tag has not yet been created, only add it if could be generally applicable to other clips.</li>
                <li><b>Submit links with a timestamp when possible.</b></li>
                <li><b>Prefer linking to youtube videos and twitch clips over twitch videos.</b></li>
            </ul>
        </details>

        <input type="submit" value="Submit" />
    </form>
</div>

<div id="search-and-clips">
    <h2 class=title>Search for Clips</h2>

    <div id="search">
        <form id="search-form" hx-post="/find-clips" hx-swap="none">
            <input
                type="text"
                id="search-tags"
                name="tags"
                autocomplete="off"
                placeholder="ssbm trif edgeguard"
                hx-post="/tag-autocomplete"
                hx-vals="js:{ 'tag-prefix': get_current_tag(event.target) }"
                hx-trigger="input throttle:100ms"
                hx-target="#search-autocomplete"
                hx-swap="innerHTML"
            />
            <div id="search-autocomplete"></div>
            <input type="submit" value="Search" />
        </form>
    </div>
    
    <div id="pages">
        <button onclick="find_clips('idx-a', true);">Prev Page</button>
        <button onclick="find_clips('idx-b', false);">Next Page</button>
    </div>
    
    <div id=clips></div>
    
</div>

<script>
function tag_autocomplete(ele) {
    const tag = ele.firstChild.textContent;
    const input = ele.parentElement.previousElementSibling;
    
    const str = input.value;
    console.log(str);
    const pos = input.selectionStart;
    
    let start = pos;
    let end = pos;
    const is_boundary = (char) => /\s/.test(char);
    while (start > 0 && !is_boundary(str[start - 1])) { start--; }
    while (end < str.length - 1 && !is_boundary(str[end + 1])) { end++; }

    input.value = str.substring(0, start) + tag + str.substring(end);
    input.selectionStart = start + tag.length;
    input.selectionEnd = start + tag.length;
    input.focus();
}

function get_current_tag(ele) {
    const str = ele.value;
    const pos = ele.selectionStart;
    
    let start = pos;
    let end = pos;
    
    const is_boundary = (char) => /\s/.test(char);
    
    while (start > 0 && !is_boundary(str[start - 1])) { start--; }
    while (end < str.length - 1 && !is_boundary(str[end + 1])) { end++; }
    return str.substring(start, end + 1).trim();
}

function find_clips(idx_param, reverse) {
    const params = new URLSearchParams(window.location.search);
    const tags = params.get("tags");
    const idx = params.get(idx_param);
    document.getElementById("search-tags").value = tags;
    
    var values = { };
    if (tags != null) { values.tags = tags; }
    if (idx != null) { values.idx = idx; }
    if (reverse) { values.rev = true; }
    htmx.ajax('POST', '/find-clips', { swap: "none", values: values });
}

find_clips("idx-a", false);
</script>

</body>
</html>
