<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clip Dump</title>
    <script src="/htmx.js"></script>
</head>
<body>

<script src=/header.js></script>

<h1 class=title>Clip Dump</h1>

<div id="err"></div>

<div id="search">
    <form id="search-form" hx-post="/find-clips" hx-swap="none">
        <label for="search-tags">Tags:</label>
        <input type="text" id="search-tags" name="tags"/><br>

        <input type="submit" value="Search" />
    </form>
</div>

<br>

<div id="pages">
    <button onclick="find_clips('idx-a', true);">Prev Page</button>
    <button onclick="find_clips('idx-b', false);">Next Page</button>
</div>

<br>

<div id="post">
    <form id="post-form" hx-post="/post-clip" hx-swap="none">
        <label for="post-title">Title:</label>
        <input type="text" id="post-title" name="title"/><br>
        
        <label for="post-link">Link:</label>
        <input type="text" id="post-link" name="link"/><br>
        
        <label for="post-tags">Tags:</label>
        <input type="text" id="post-tags" name="tags"/><br>

        <input type="submit" value="Post" />
    </form>
</div>

<br>

<div id=clips></div>

<script>
function find_clips(idx_param, reverse) {
    const params = new URLSearchParams(window.location.search);
    const tags = params.get("tags");
    const idx = params.get(idx_param);
    document.getElementById("search-tags").value = tags;
    
    var values = { };
    if (tags != null) { values.tags = tags; }
    if (idx != null) { values.idx = idx; }
    if (reverse) { values.rev = true; }
    htmx.ajax('POST', '/find-clips', { swap: "none", values: values });
}

find_clips("idx-a", false);
</script>

</body>
</html>
